.pokemon-container {
    display: inline-table;
    border: 1px solid black;
    width: 200px;
    
}

.pokemon-image{
    width: 100px;
}

.type {
    padding: 5px;
}

.link {
    text-decoration: none;
    font-family: monospace;
    -webkit-text-stroke: thin;
    text-transform: uppercase;
    font-size: small;
}
.fire{
    background-color: rgb(245, 171, 171);
}
.water{
    background-color: rgb(169, 169, 247);
}
.poison {
    background-color: rgb(251, 176, 233);
}
.normal{
    background-color: rgb(244, 244, 245);
}
.grass {
    background-color: rgb(176, 245, 176);
}
.bug {
    background-color: rgb(226, 175, 255);
}
.electric {
    background-color: rgb(255, 255, 163);
}
.ground {
    background-color: rgb(228, 194, 175);
}
.fairy {
    background-color: rgb(243, 197, 241);
}