.container{
    display: block;
    margin-top: 50px;
}

.pokemon-card {
    display: flex;
    justify-content: center;
}

.card-header{
    width: 250px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: fantasy;
    text-transform: uppercase;
    font-size: medium;
    align-items: center;
    justify-content: center;
}

.pokemon-image {
    width: 130px;
}

.card-content {
    border: 1px solid black;
    background-color: rgb(186, 194, 202);
    padding-left: 20px;
    padding-right: 60px;
}


.fire{
    background-color: rgb(245, 171, 171);
}
.water{
    background-color: rgb(169, 169, 247);
}
.poison {
    background-color: rgb(251, 176, 233);
}
.normal{
    background-color: rgb(244, 244, 245);
}
.grass {
    background-color: rgb(176, 245, 176);
}
.bug {
    background-color: rgb(226, 175, 255);
}
.electric {
    background-color: rgb(255, 255, 163);
}
.ground {
    background-color: rgb(228, 194, 175);
}
.fairy {
    background-color: rgb(243, 197, 241);
}