body {
    background-image: none;
    background-color: rgb(189, 189, 189);
    background-image: url('../../img/Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.home {
    height: 580px;
}

.pokemon-table {
    width: 1200px;
    display: block;
    margin: auto;
}