body {
    background-image: none;
    background-color: rgb(189, 189, 189);
}

.pokedex{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:5px;
}

.poke > .poke {
    padding: 4px;
}

.poke {
    border: 3px solid black;
}