.Pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-weight: bold;
}

.second-bar {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-second {
    font-family: fantasy;
    font-size: small;
    border-radius: 1rem;
}

.btn-second:hover {
    background-color: yellow;
}

.filters {
    font-family: fantasy;
    font-size: small;
    display: flex;
    align-items: center;
}

.filters > select {
    font-size: x-small;
    margin-left: 2px;
    margin-right: 2px;
}

.loading-pagination {
    background-color: rgb(243, 119, 108);
    padding: 10px;
    border: 1px solid rgb(189, 189, 189);
}

.Pag {
    background-color: rgb(243, 119, 108);
    padding: 10px;
    border: 1px solid rgb(189, 189, 189);
}

.Pag:hover {
    background-color: yellow;
}

.arrow {
    width: 20px;
}

.hidden {
    visibility: hidden;
}

.pag-right {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.pag-left {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.arrow-left {
    width: 20px;
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.actual {
    border: 2px solid black;

}