.login-container {
    background-color: rgb(253, 242, 191);
    position: fixed;
    font-family: fantasy;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.background {
    display: flex;
    justify-content: center;
}

.Charizard {
    width: 950px;
}

.invert {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.login {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    justify-content: center;
    align-items: center;
}

.pokeball {
    opacity: 80%;
}

.link {
    text-decoration: none;
    color: rgb(3, 3, 3);
    text-align: center;
}

.button {
    margin-top: 29px;
    margin-right: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: larger;
    border-radius: 10rem;
    height: 50px;
    width: 50px;
    background-color: rgb(230, 74, 74);
    border: 5px outset rgb(68, 68, 68);
    box-shadow: 0 0 50px rgb(255, 251, 0);
}

.button:hover {
    background-color: gold;
  }
