.NavBar {
    background-color: rgb(114, 114, 114);
    display: flex;
    justify-content: space-around;
    font-family: fantasy;
    align-items: center;
    font-size: 1.8rem;
    border-bottom: 1px solid black;
    height: 70px;
    color: rgb(190, 10, 10);
    text-shadow: 0 0 10px rgb(255, 255, 255);
}

.searchBar {
    display: flex;
    align-items: center;
}

.searchBar > input {
    margin-left: 10px;
    height: 20px;
}

.logo {
    width: 50px;
    display: flex;
    padding: 5px;
    box-shadow: 0 0 10px black;
    border-radius: 4rem;
}



.btnSubmit {
    display: flex;
    background: none;
    border: none;
    padding: 0;
}

.addButton {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    height: 70px;
    text-shadow: 0 0 10px rgb(255, 255, 255);
    color: rgb(190, 10, 10);
}

.addButton:hover {
    color: yellow;
    background-color: rgb(73, 73, 73);
    text-shadow: 0 0 10px rgb(0, 0, 0);
}

.searchIcon {
    width: 24px;
    background-color: rgb(224, 212, 195);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-right: 5px;
}

.searchIcon:hover {
    background-color: yellow;
}